.border-t-0-5 {
  border-top: 0.1px solid white;
}

.mobile-menu-border {
  border-bottom: 2px solid #dabe80;
}

.appointment-booking-bg-img {
  background-image: url('../images/contat-img.png');
  background-position: left center !important;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.fi-icon {
  background-color: #2B292980;
}

.fixed-in-icon {
  background: linear-gradient(45deg, #FAE100, #FCB720, #FF7950, #FF1C74, #6C1CD1);
  background-size: 300% 300%;
  animation: gradientAnimation 5s ease infinite
}

/* For background image with low opacity */
.back-design-img {
  background-image: url('../images/back-design-img.png');
  background-position: left center !important;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.02;
  z-index: -1 !important;
}

.gradient-border {
  position: relative;
  text-align: center;
}

.gradient-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #DABE80 20.93%, rgba(234, 220, 189, 0) 63.1%);
}

.gradient-border-b {
  position: relative;
  text-align: center;
}

.gradient-border-b::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, black 20%, rgba(0, 0, 0, 0) 63.1%);
}

.gradient-border {
  border: 5px solid transparent;
  border-image-source: linear-gradient(359.08deg, #273D32 20%, rgba(58, 182, 120, 0) 91.1%);
  border-image-slice: 1;
}

.gradient-border-0 {
  border: 5px solid transparent;
  border-image-source: linear-gradient(270deg, #273D32 20%, rgba(58, 182, 120, 0) 91.1%);
  border-image-slice: 1;
}

.slick-prev,
.slick-next {
  display: none !important;
}

/* Small screens */
@media (max-width: 640px) {
  /* Styles for small devices */
}

/* Medium screens */
@media (max-width: 768px) {
  /* Styles for medium devices */
}

/* Large screens */
@media (max-width: 1024px) {
  /* Styles for large devices */
}

/* Extra-large screens */
@media (max-width: 1280px) {
  /* Styles for extra large devices */
}

/* 2x Extra-large screens */
@media (max-width: 1536px) {}